body {
  background: #e6e9f0;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  text-align: center;
  font-size: 50px;
}
.App-footer {
  font-size: 15px;
  text-align: center;
  margin: 30px 0;
}
