.dictionary section {
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0 /10%);
  margin: 10px;
}
.dictionary form {
  display: flex;
  justify-content: center;
}
.dictionary input {
  width: 100%;
  border-radius: 5px;
  padding: 6px 4px;
  border: 1px solid #edf0f4;
}
.results h2 {
  font-size: 24px;
  line-height: 1.5;
  text-transform: capitalize;
}
